<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script><!-- jquery google apis --> 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"><!-- bootstrap CSS --> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script><!-- bootstrap js --> 
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> <!-- Ang js --> 
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/article.css">
</head>
<body>

  <nav class="navbar navbar-default" id="header"><!--Start of Nav Bar -->
  <div class="container">
    <div class="navbar-header">
  <!--    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#homeNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        
      </button>  -->
      <a class="navbar-brand" href="http://www.efron.co.in" style="color=#1aa3ff"><img class="setlogo" src="../images/logo.png" alt="Chania"></a>
    </div>
   
   <!-- <div class="collapse navbar-collapse" id="homeNav">
      <ul class="nav navbar-nav" ng-app="" ng-init="menu=[
        {name:'SERVICES',URL:'#Vids'},
        {name:'ARTICLES',URL:'#Tour'},
        {name:'GALLERY',URL:'#Gallery'},
        {name:'ABOUT US',URL:'#BandMembers'},
        {name:'CONTACT US',URL:'#bookings'}]">
        <li class="" ng-repeat="x in menu"><a href="{{x.URL}}">
          {{ x.name }}
        </a></li>
        
        
      </ul>

            
    </div> -->
  </div> <!-- End first container -->
</nav> <!-- end header -->


<!--

<div ng-app="" ng-init="menu=[
        {name:'SERVICES',URL:'#Vids'},
        {name:'ARTICLES',URL:'#Tour'},
        {name:'GALLERY',URL:'#Gallery'},
        {name:'ABOUT US',URL:'#BandMembers'},
        {name:'CONTACT US',URL:'#bookings'}]"> 
</div>


<li class="" ng-repeat="x in menu"><a href="{{x.URL}}">
          {{ x.name }}
        </a></li>
       

  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{name}}</h1>
</div>

-->








<!-- <img class="shrink" src="images/elogo.png" alt="Chania"> -->


  <!--end container-->

<div class="container"> 

<section id="BandMembers" class="layout">
  <h3 class="titleDesc">Articles/Books</h3>
  <div class="row">
      <div class="profileWrap col-lg-4 col-md-4 col-sm-4"> 
        <div class="profilePic"> <img src="../images/articles/Rajubhai.jpg" alt="Smiley face" height="140" width="140"> </div>
        <div class="profileName">
          <a href="https://www.facebook.com/rajashekar.srikanth?fref=ts" id="name"> Rajashekhar C</a> <br>
          <a id="#dimps" class="texter">Author</a>
          </div>
        
        
        <div class="clearFix"></div>
        <hr>
        <h3 > <a class="title_texter" href="FinancialManagement.html">The Underlying Secrets Of Financial Management</a></h3>
        <blockquote >
        <a class="texter" href="FinancialManagement.html">Some of our youth today, in this era of advanced technology, fallen prey to these super crazy lifestyles giving into drug addition, alcoholism and wasting their lives under those flashing neon lights because of their poor financial management.</a></blockquote>
       <p> <a class="btn btn-success btn-lg center" role="button" href="FinancialManagement.html">Read More</a> </p>

      </div>

<!--
      <div class="profileWrap col-lg-4 col-md-4 col-sm-4"> 
        <div class="profilePic"> <img src="../images/articles/Rajubhai.jpg" alt="Smiley face" height="140" width="140"> </div>
        <div class="profileName"><a href="https://www.facebook.com/rajashekar.srikanth?fref=ts"> Rajashekhar C</a></div>
        
        <div class="btn btn-success">Author</div>
        <div class="clearFix"></div>
        <h3 > <a class="title_texter" href="FinancialManagement.html">The Underlying Secrets Of Our "Financial Management"</a></h3>
        <blockquote >
        <a class="texter" href="FinancialManagement.html">some of our youth today , in this era of advanced technology, fallen prey to these super crazy lifestyles giving into drug addition , alcholism and wasting their lives under those flashing neon lights because of their poor financial management.</a></blockquote>
       <p> <a class="btn btn-primary btn-lg center" role="button" href="FinancialManagement.html">Read More</a> </p>

      </div>


      
      <div class="profileWrap col-lg-4 col-md-4 col-sm-4"> 
        <div class="profilePic"></div>
        <div class="profileName">Ferdinand Joshua</div>
        <div class="clearFix"></div>
        <div class="profileTag">Guitarist</div>
        <blockquote>paragraphThis is a paragraph This is a paragraphThis is a paragraph This is a paragraphThis is a paragraph This is a paragraphThis is a paragraph This is a paragraphThis is a paragraph This is a paragraphThis is a paragraph This is a paragraphThis is a paragraph This is a paragraphThis is a paragraph This is a paragraphThis is a paragraph This </blockquote>
      </div>


      -->

  </div>
   
</section>

<hr>
<div id="top">
<a href="#header">Back to top</a>
</div>


<hr>

</div> <!--end container -->

<footer class="main"> Designed by <a href="http://www.efron.co.in">Efron  &copy; </a> <span id="footer"></span></footer>


<div class="popup">

    <div class="popup-content">This is popup <div id="popupclose" type="button" class="btn btn-danger">Close button</div> <div class="clear"></div>
      </div> 
  </div>

<script type="text/javascript">

var i=0;

$("#more").click( function (){

$(".popup").toggle();

});

$("#popupclose").click ( function () {
  
  $(".popup").toggle();
});

/*Get the Footer the current date*/
var yr = new Date();
yr=yr.getFullYear(); 
console.log (yr);
document.getElementById("footer").innerHTML= yr;


//$("footer").html(yr);


//prefrom smooth scrolling content on same page when clicked on a <a> link

/*
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
*/

</script>

</body>
</html>





